In [1]:
import pandas as pd

# Load the CSV files
df1 = pd.read_csv('investment_2023-12-11.csv')
df2 = pd.read_csv('investment_S2_2023-12-13.csv')

In [3]:
df1.describe()

,SubjectID,Day,Accepted/Worked On,Parts Completed,Soft Deadline Remaining,Hard Deadline Remaining,Current Payment,Payment Received
count,8100.000000,8100.000000,8100.000000,4700.000000,4700.000000,4700.000000,4700.000000,866.000000
mean,8.776173,49.913333,0.602593,5.820000,5.975745,8.945745,45.872340,38.270208
std,4.752956,28.977711,0.489392,3.201727,3.251442,4.029186,31.653407,28.500376
min,1.000000,1.000000,0.000000,0.000000,-7.000000,0.000000,-24.000000,-24.000000
25%,5.000000,25.000000,0.000000,3.000000,4.000000,6.000000,23.000000,19.000000
50%,9.000000,48.000000,1.000000,6.000000,6.000000,8.000000,37.000000,32.000000
75%,13.000000,77.000000,1.000000,9.000000,8.000000,12.000000,66.000000,51.000000
max,17.000000,100.000000,1.000000,10.000000,19.000000,19.000000,131.000000,131.000000

In [4]:
df2.describe()

,SubjectID,Day,Accepted/Worked On,Parts Completed,Soft Deadline Remaining,Hard Deadline Remaining,Current Payment,Payment Received
count,8890.000000,8890.000000,8890.000000,5490.000000,5490.000000,5490.000000,5490.000000,943.000000
mean,8.985489,49.646457,0.608999,5.535701,5.756648,8.860838,192.442987,157.290562
std,4.891593,28.596297,0.488002,3.330507,3.096519,3.956257,125.974449,114.361295
min,1.000000,1.000000,0.000000,0.000000,-4.000000,0.000000,-101.000000,-101.000000
25%,5.000000,26.000000,0.000000,3.000000,4.000000,6.000000,100.000000,76.000000
50%,9.000000,48.000000,1.000000,6.000000,6.000000,8.000000,160.000000,140.000000
75%,13.000000,76.000000,1.000000,9.000000,8.000000,11.000000,264.000000,208.000000
max,17.000000,100.000000,1.000000,10.000000,19.000000,19.000000,524.000000,524.000000

In [6]:
# Combine the two datasets
combined_df = pd.concat([df1, df2])

# Basic information about the dataset
combined_df.describe()

,SubjectID,Day,Accepted/Worked On,Parts Completed,Soft Deadline Remaining,Hard Deadline Remaining,Current Payment,Payment Received
count,16990.000000,16990.000000,16990.000000,10190.000000,10190.000000,10190.000000,10190.000000,1809.000000
mean,8.885697,49.773690,0.605945,5.666830,5.857704,8.900000,124.839254,100.313433
std,4.826985,28.778228,0.488661,3.274648,3.170641,3.990089,119.792661,103.632753
min,1.000000,1.000000,0.000000,0.000000,-7.000000,0.000000,-101.000000,-101.000000
25%,5.000000,26.000000,0.000000,3.000000,4.000000,6.000000,36.000000,28.000000
50%,9.000000,48.000000,1.000000,6.000000,6.000000,8.000000,84.000000,62.000000
75%,13.000000,77.000000,1.000000,9.000000,8.000000,11.000000,172.000000,140.000000
max,17.000000,100.000000,1.000000,10.000000,19.000000,19.000000,524.000000,524.000000

In [7]:
# Example analysis: Count of unique subjects
unique_subjects = combined_df['SubjectID'].nunique()
print(f'Unique Subjects: {unique_subjects}')

# Example analysis: Average parts completed per job
average_parts_completed = combined_df['Parts Completed'].mean()
print(f'Average Parts Completed: {average_parts_completed}')

# Example analysis: Acceptance rate
acceptance_rate = combined_df[combined_df['Action Type'] == 'Offer']['Accepted/Worked On'].mean()
print(f'Acceptance Rate: {acceptance_rate}')

# Example analysis: Payment received distribution
payment_received = combined_df['Payment Received'].dropna().astype(float)  # Ensure it's float
print(payment_received.describe())

Unique Subjects: 17
Average Parts Completed: 5.6668302257114815
Acceptance Rate: 0.2772058823529412
count    1809.000000
mean      100.313433
std       103.632753
min      -101.000000
25%        28.000000
50%        62.000000
75%       140.000000
max       524.000000
Name: Payment Received, dtype: float64

In [8]:
import statsmodels.api as sm

# Ensure the data is clean and ready for analysis
combined_df = combined_df.dropna(subset=['Parts Completed', 'Payment Received'])
X = combined_df['Parts Completed']
y = combined_df['Payment Received']

# Add a constant to the model (intercept)
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print out the statistics
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Payment Received   R-squared:                       0.015
Model:                            OLS   Adj. R-squared:                  0.015
Method:                 Least Squares   F-statistic:                     28.27
Date:                Wed, 17 Apr 2024   Prob (F-statistic):           1.19e-07
Time:                        10:34:17   Log-Likelihood:                -10948.
No. Observations:                1809   AIC:                         2.190e+04
Df Residuals:                    1807   BIC:                         2.191e+04
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            -362.7531     87.133     -4.163      0.000    -533.644    -191.862
Parts Completed    46.4299      8.733      5.317      0.000      29.302      63.558
==============================================================================
Omnibus:                      606.632   Durbin-Watson:                   1.025
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1703.671
Skew:                           1.764   Prob(JB):                         0.00
Kurtosis:                       6.187   Cond. No.                         363.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.